:root {
  --link: url('https://images.unsplash.com/photo-1542601098-8fc114e148e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.page__wrapper {
  margin: 0 auto;
  padding: 30px 0;
  background-image: var(--link);
  max-width: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.page__control {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page__buttons {
  margin-bottom: 20px;
}

.control__select-wrapper {
  display: inline;
  background-color: transparent;
  position: relative;
}

.control__select-wrapper > .control__select-lang {
  width: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.control__select-lang > .control__option-lang {
  background-color: rgba(76, 82, 85, 0.4);
}

.control__select-wrapper::before {
  content:"";
  position: absolute;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  top: 10%;
  right: 25%;
}

.button {
  font-family: 'Montserrat', sans-serif;
  padding: 7px 12px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-color: rgba(174, 181, 185, 0.5);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.control__unit {
  background-color: rgba(76, 82, 85, 0.4);
}

.control__unit--imperial {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -4px;
}

.control__unit--metric {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.control__refresh {
  padding: 6px 12px 7px;
  background-image: url('assets/images/30.png');
}

.control__refresh--img {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

.active {
  background-color: rgba(174, 181, 185, 0.5);
}

.search__form {
  width: 100%;
}

.search__input {
  width: 49%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding: 7px 20px;
  margin-right: -5px;
  background: rgba(76, 82, 85, 0.4);
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search__input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.search__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page__weather {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5%;
}

.weather__wrapper {
  width: 65%;
}

.weather-today__location {
  margin-bottom: 10px;
  font-size: 44px;
  text-transform: uppercase;
}

.weather-today__fulltime {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
}

.weather-today__main-block {
  position: relative;
  width: 100%;
}

.weather-today__temperature {
  width: 50%;
  position: relative;
  margin: 0;
  text-align: center;
  font-size: 320px;
}

.weather-today__temperature > span {
  font-size: 130px;
  vertical-align: top;
}

.weather-today__picture {
  position: absolute;
  width: 250px;
  height: 250px;
  top: -25%;
  left: 45%;
}

.weather-today__main-block {
  display: flex;
  flex-wrap: wrap;
}

.weather-today__description {
  margin-top: 10vw;
  margin-left: -15px;
  font-size: 22px;
  list-style: none;
  text-transform: uppercase;
}

.weather-today__description > li {
  margin-bottom: 10px;
}

.weather-future__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather-future__list > li {
  position: relative;
  margin: 0 auto;
  width: 33%;
}

.weather-future__day {
  margin: 0;
  font-size: 22px;
}

.weather-future__deg {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  right: -15px;
  font-size: 100px;
}

.weather-future__deg > span {
  font-size: 50px;
  vertical-align: top;
}

.weather-future__picture {
  position: absolute;
  width: 130px;
  top: -10px;
}

.location__map {
  width: 35%;
  margin: auto 0;
  margin-left: -2%;
}

#map {
  margin-bottom: 50px;
  width: 100%;
  height: 350px;
}

.location__coord {
  text-align: right;
  font-size: 20px;
}

